/*website*/
html, body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background: #121212;
}

body {
    background: url(bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}

img {
    width: 100%;
}

.contact {
    position: fixed;
    color: rgb(124, 124, 124);
    font-size: 12px;
    letter-spacing: 2px;
    font-family: Yu Gothic;
    right: 100px;
    line-height: 80px;
    z-index: 1;
}

.menu{
    position: fixed;
    color: #6adb9d;
    right: 2em;
    top: 4px;
    line-height: 80px;
    z-index: 1;
}


.header {
    position: absolute;
    top: 46%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.name {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
}

.name .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.name .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

h1 {
    color: #fff;
    font-family: "Yu Gothic";
    font-weight: bolder !important;
    font-size: 46px !important;
    margin-bottom: 0px;
    text-transform: uppercase !important;
}

#tagline  {
    width: 640px;
}

p {
    color: rgb(95, 95, 95);
    font-weight: 200;
    font-family: "Yu Gothic";
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.buttons {
    margin-top: 40px;
}

button {
    margin-right: 10px !important;
    padding: 14px 30px;
    border: none;
    color: #fff;
    font-size: 12px !important;
    letter-spacing: 4px;
    font-weight: 300;
}

#one {
    background: none;
    border: .3pt solid rgba(255, 255, 255, 0.3);
}


.copyright {
    position: absolute;
    z-index: 1;
    color: grey;
    font-size: 15px;
    right: 0;
    font-family: Roboto;
    font-weight: 100;
    margin-right: 2em;
    bottom: 40px;   
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
    z-index: 2;
}

.ring {
    margin: 0%;
    padding: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    width: 40%;
    opacity: 0.7;    
}

.ringOne img {
    animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
    animation: rotateFirstRing 4s linear infinite;
}

@keyframes rotateFirstRing {
    from {
          transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}

@media(max-width: 900px) {  

    .loading-screen {
          display: none;
    }
    .ring img {
          display: none;
    }
}

/* lines */
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }